.container {
    width: 100%
}
@media (min-width: 480px) {
    .container {
        max-width: 480px
    }
}
@media (min-width: 600px) {
    .container {
        max-width: 600px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px
    }
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.left-0 {
    left: 0px
}
.right-0 {
    right: 0px
}
.right-2 {
    right: 0.5rem
}
.top-0 {
    top: 0px
}
.top-12 {
    top: 3rem
}
.top-3 {
    top: 0.75rem
}
.top-\[56px\] {
    top: 56px
}
.\!z-\[9999999\] {
    z-index: 9999999 !important
}
.z-10 {
    z-index: 10
}
.z-50 {
    z-index: 50
}
.m-0 {
    margin: 0px
}
.m-8 {
    margin: 2rem
}
.mx-\[5px\] {
    margin-left: 5px;
    margin-right: 5px
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.my-\[15px\] {
    margin-top: 15px;
    margin-bottom: 15px
}
.my-\[5px\] {
    margin-top: 5px;
    margin-bottom: 5px
}
.\!mb-0 {
    margin-bottom: 0px !important
}
.\!ml-0 {
    margin-left: 0px !important
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-11 {
    margin-bottom: 2.75rem
}
.mb-12 {
    margin-bottom: 3rem
}
.mb-16 {
    margin-bottom: 4rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.mb-3 {
    margin-bottom: 0.75rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-5 {
    margin-bottom: 1.25rem
}
.mb-6 {
    margin-bottom: 1.5rem
}
.mb-8 {
    margin-bottom: 2rem
}
.mb-\[14px\] {
    margin-bottom: 14px
}
.mb-\[22px\] {
    margin-bottom: 22px
}
.mb-\[25px\] {
    margin-bottom: 25px
}
.mb-\[55px\] {
    margin-bottom: 55px
}
.mb-\[5px\] {
    margin-bottom: 5px
}
.ml-1 {
    margin-left: 0.25rem
}
.ml-3 {
    margin-left: 0.75rem
}
.ml-\[10px\] {
    margin-left: 10px
}
.ml-\[30px\] {
    margin-left: 30px
}
.mr-3 {
    margin-right: 0.75rem
}
.mr-5 {
    margin-right: 1.25rem
}
.mr-\[15px\] {
    margin-right: 15px
}
.mt-0 {
    margin-top: 0px
}
.mt-10 {
    margin-top: 2.5rem
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-3 {
    margin-top: 0.75rem
}
.mt-4 {
    margin-top: 1rem
}
.mt-5 {
    margin-top: 1.25rem
}
.mt-6 {
    margin-top: 1.5rem
}
.mt-8 {
    margin-top: 2rem
}
.mt-\[24px\] {
    margin-top: 24px
}
.mt-\[30px\] {
    margin-top: 30px
}
.mt-\[32px\] {
    margin-top: 32px
}
.mt-\[50px\] {
    margin-top: 50px
}
.mt-\[5px\] {
    margin-top: 5px
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.inline-flex {
    display: inline-flex
}
.table {
    display: table
}
.grid {
    display: grid
}
.inline-grid {
    display: inline-grid
}
.hidden {
    display: none
}
.h-10 {
    height: 2.5rem
}
.h-14 {
    height: 3.5rem
}
.h-6 {
    height: 1.5rem
}
.h-\[100vh\] {
    height: 100vh
}
.h-\[120px\] {
    height: 120px
}
.h-\[14\.4px\] {
    height: 14.4px
}
.h-\[18px\] {
    height: 18px
}
.h-\[26px\] {
    height: 26px
}
.h-\[40px\] {
    height: 40px
}
.h-\[46px\] {
    height: 46px
}
.h-\[48px\] {
    height: 48px
}
.h-\[56px\] {
    height: 56px
}
.min-h-screen {
    min-height: 100vh
}
.w-10 {
    width: 2.5rem
}
.w-2 {
    width: 0.5rem
}
.w-3 {
    width: 0.75rem
}
.w-4 {
    width: 1rem
}
.w-6 {
    width: 1.5rem
}
.w-\[14px\] {
    width: 14px
}
.w-\[15px\] {
    width: 15px
}
.w-\[18px\] {
    width: 18px
}
.w-\[20\%\] {
    width: 20%
}
.w-\[200px\] {
    width: 200px
}
.w-\[23px\] {
    width: 23px
}
.w-\[26px\] {
    width: 26px
}
.w-\[317px\] {
    width: 317px
}
.w-\[33\%\] {
    width: 33%
}
.w-\[40px\] {
    width: 40px
}
.w-\[46px\] {
    width: 46px
}
.w-\[48px\] {
    width: 48px
}
.w-\[70\%\] {
    width: 70%
}
.w-\[9px\] {
    width: 9px
}
.w-full {
    width: 100%
}
.max-w-\[100\%\] {
    max-width: 100%
}
.max-w-\[1110px\] {
    max-width: 1110px
}
.max-w-\[1216px\] {
    max-width: 1216px
}
.max-w-\[1280px\] {
    max-width: 1280px
}
.max-w-\[155px\] {
    max-width: 155px
}
.max-w-\[18\%\] {
    max-width: 18%
}
.max-w-\[200px\] {
    max-width: 200px
}
.max-w-\[550px\] {
    max-width: 550px
}
.max-w-\[630px\] {
    max-width: 630px
}
.max-w-\[700px\] {
    max-width: 700px
}
.max-w-\[860px\] {
    max-width: 860px
}
.max-w-\[90\%\] {
    max-width: 90%
}
.max-w-sm {
    max-width: 24rem
}
.flex-grow {
    flex-grow: 1
}
.\!translate-x-0 {
    --tw-translate-x: 0px !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}
.-translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-pointer {
    cursor: pointer
}
.list-decimal {
    list-style-type: decimal
}
.list-disc {
    list-style-type: disc
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}
.flex-col {
    flex-direction: column
}
.content-center {
    align-content: center
}
.items-center {
    align-items: center
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.gap-2 {
    gap: 0.5rem
}
.gap-3 {
    gap: 0.75rem
}
.gap-4 {
    gap: 1rem
}
.gap-5 {
    gap: 1.25rem
}
.gap-8 {
    gap: 2rem
}
.gap-\[13px\] {
    gap: 13px
}
.gap-\[30px\] {
    gap: 30px
}
.gap-y-5 {
    row-gap: 1.25rem
}
.divide-x > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)))
}
.overflow-hidden {
    overflow: hidden
}
.text-pretty {
    text-wrap: pretty
}
.rounded {
    border-radius: 0.25rem
}
.rounded-\[10px\] {
    border-radius: 10px
}
.rounded-\[4px\] {
    border-radius: 4px
}
.rounded-\[5px\] {
    border-radius: 5px
}
.rounded-full {
    border-radius: 9999px
}
.rounded-lg {
    border-radius: 0.5rem
}
.rounded-md {
    border-radius: 0.375rem
}
.rounded-xl {
    border-radius: 0.75rem
}
.rounded-l-\[25px\] {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px
}
.rounded-r-lg {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem
}
.rounded-t-xl {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem
}
.border {
    border-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-t {
    border-top-width: 1px
}
.border-solid {
    border-style: solid
}
.border-none {
    border-style: none
}
.border-\[var\(--primary-color\)\] {
    border-color: var(--primary-color)
}
.border-aliceblue {
    --tw-border-opacity: 1;
    border-color: rgb(240 244 249 / var(--tw-border-opacity))
}
.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
}
.border-charcoal {
    --tw-border-opacity: 1;
    border-color: rgb(49 67 81 / var(--tw-border-opacity))
}
.border-t-charcoal {
    --tw-border-opacity: 1;
    border-top-color: rgb(49 67 81 / var(--tw-border-opacity))
}
.bg-\[\#0984e3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(9 132 227 / var(--tw-bg-opacity))
}
.bg-\[\#5905DA\] {
    --tw-bg-opacity: 1;
    background-color: rgb(89 5 218 / var(--tw-bg-opacity))
}
.bg-\[\#DD9631\] {
    --tw-bg-opacity: 1;
    background-color: rgb(221 150 49 / var(--tw-bg-opacity))
}
.bg-\[\#DDDFE5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(221 223 229 / var(--tw-bg-opacity))
}
.bg-\[\#f1f2f6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(241 242 246 / var(--tw-bg-opacity))
}
.bg-\[var\(--background-color\)\] {
    background-color: var(--background-color)
}
.bg-\[var\(--primary-color\)\] {
    background-color: var(--primary-color)
}
.bg-aliceblue {
    --tw-bg-opacity: 1;
    background-color: rgb(240 244 249 / var(--tw-bg-opacity))
}
.bg-charcoal {
    --tw-bg-opacity: 1;
    background-color: rgb(49 67 81 / var(--tw-bg-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(19 27 36 / var(--tw-bg-opacity))
}
.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(48 77 219 / var(--tw-bg-opacity))
}
.bg-transparent {
    background-color: transparent
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.fill-\[\#0984e3\] {
    fill: #0984e3
}
.fill-\[\#FFDC64\] {
    fill: #FFDC64
}
.fill-\[\#ffdc64\] {
    fill: #ffdc64
}
.p-2 {
    padding: 0.5rem
}
.p-3 {
    padding: 0.75rem
}
.p-4 {
    padding: 1rem
}
.p-5 {
    padding: 1.25rem
}
.p-\[15px\] {
    padding: 15px
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem
}
.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px
}
.px-\[22px\] {
    padding-left: 22px;
    padding-right: 22px
}
.px-\[35px\] {
    padding-left: 35px;
    padding-right: 35px
}
.py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem
}
.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}
.py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}
.py-\[17px\] {
    padding-top: 17px;
    padding-bottom: 17px
}
.py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px
}
.pb-10 {
    padding-bottom: 2.5rem
}
.pb-16 {
    padding-bottom: 4rem
}
.pb-5 {
    padding-bottom: 1.25rem
}
.pb-8 {
    padding-bottom: 2rem
}
.pb-\[15px\] {
    padding-bottom: 15px
}
.pb-\[78px\] {
    padding-bottom: 78px
}
.pl-6 {
    padding-left: 1.5rem
}
.pl-8 {
    padding-left: 2rem
}
.pl-\[15px\] {
    padding-left: 15px
}
.pr-\[25px\] {
    padding-right: 25px
}
.pt-10 {
    padding-top: 2.5rem
}
.pt-12 {
    padding-top: 3rem
}
.pt-16 {
    padding-top: 4rem
}
.pt-20 {
    padding-top: 5rem
}
.pt-5 {
    padding-top: 1.25rem
}
.pt-\[10px\] {
    padding-top: 10px
}
.pt-\[50px\] {
    padding-top: 50px
}
.pt-\[90px\] {
    padding-top: 90px
}
.text-center {
    text-align: center
}
.font-Oswald {
    font-family: Oswald, sans-serif
}
.font-monospace {
    font-family: Space Mono, monospace
}
.font-poppins {
    font-family: Poppins, sans-serif
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.text-5xl {
    font-size: 3rem;
    line-height: 1
}
.text-\[12px\] {
    font-size: 12px
}
.text-\[13px\] {
    font-size: 13px
}
.text-\[14px\] {
    font-size: 14px
}
.text-\[16px\] {
    font-size: 16px
}
.text-\[17px\] {
    font-size: 17px
}
.text-\[18px\] {
    font-size: 18px
}
.text-\[24px\] {
    font-size: 24px
}
.text-\[46px\] {
    font-size: 46px
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-xl {
    font-size: 1.25rem
}
.font-bold {
    font-weight: 700
}
.font-extrabold {
    font-weight: 800
}
.font-medium {
    font-weight: 500
}
.font-normal {
    font-weight: 400
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.capitalize {
    text-transform: capitalize
}
.leading-5 {
    line-height: 1.25rem
}
.leading-7 {
    line-height: 1.75rem
}
.leading-\[18px\] {
    line-height: 18px
}
.leading-\[19px\] {
    line-height: 19px
}
.leading-\[22px\] {
    line-height: 22px
}
.leading-\[23px\] {
    line-height: 23px
}
.leading-\[25px\] {
    line-height: 25px
}
.leading-\[30px\] {
    line-height: 30px
}
.leading-\[33px\] {
    line-height: 33px
}
.leading-\[44px\] {
    line-height: 44px
}
.leading-\[55px\] {
    line-height: 55px
}
.leading-\[57px\] {
    line-height: 57px
}
.leading-tight {
    line-height: 1.25
}
.\!text-\[var\(--heading-color\)\] {
    color: var(--heading-color) !important
}
.text-\[\#02243e\] {
    --tw-text-opacity: 1;
    color: rgb(2 36 62 / var(--tw-text-opacity))
}
.text-\[\#0984e3\] {
    --tw-text-opacity: 1;
    color: rgb(9 132 227 / var(--tw-text-opacity))
}
.text-\[\#303F4A80\] {
    color: #303F4A80
}
.text-\[\#303f4a80\] {
    color: #303f4a80
}
.text-\[\#303f4a\] {
    --tw-text-opacity: 1;
    color: rgb(48 63 74 / var(--tw-text-opacity))
}
.text-\[\#979fa4\] {
    --tw-text-opacity: 1;
    color: rgb(151 159 164 / var(--tw-text-opacity))
}
.text-\[\#A80500\] {
    --tw-text-opacity: 1;
    color: rgb(168 5 0 / var(--tw-text-opacity))
}
.text-\[\#a80500\] {
    --tw-text-opacity: 1;
    color: rgb(168 5 0 / var(--tw-text-opacity))
}
.text-\[\#b7070a\] {
    --tw-text-opacity: 1;
    color: rgb(183 7 10 / var(--tw-text-opacity))
}
.text-\[\#ffffffb0\] {
    color: #ffffffb0
}
.text-\[303f4abd\] {
    color: 303f4abd
}
.text-\[var\(--content-color\)\] {
    color: var(--content-color)
}
.text-\[var\(--content-color2\)\] {
    color: var(--content-color2)
}
.text-\[var\(--heading-color\)\] {
    color: var(--heading-color)
}
.text-\[var\(--primary-color\)\] {
    color: var(--primary-color)
}
.text-charcoal {
    --tw-text-opacity: 1;
    color: rgb(49 67 81 / var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.text-orange-400 {
    --tw-text-opacity: 1;
    color: rgb(251 146 60 / var(--tw-text-opacity))
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgb(19 27 36 / var(--tw-text-opacity))
}
.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(48 77 219 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.underline {
    text-decoration-line: underline
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.outline {
    outline-style: solid
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.duration-300 {
    transition-duration: 300ms
}
.duration-500 {
    transition-duration: 500ms
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw
}
.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%
}
.aligncenter {
    margin: 0.5rem auto;
    display: block
}
@media (min-width: 600px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right
    }
    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem
    }
    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem
    }
}
.wp-caption {
    display: inline-block
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563
}
/* body {
    @apply font-sans;
} */
.wp-block {
    max-width: 1280px
}
.wp-block[data-align=wide] {
    max-width: 1280px
}
.wp-block[data-align=full] {
    max-width: 100%
}
.first\:rounded-l-\[3px\]:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.first\:pl-0:first-child {
    padding-left: 0px
}
.last\:mb-0:last-child {
    margin-bottom: 0px
}
.last\:rounded-r-\[3px\]:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.hover\:scale-110:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.hover\:bg-\[\#263aad\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(38 58 173 / var(--tw-bg-opacity))
}
.hover\:bg-aliceblue:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(240 244 249 / var(--tw-bg-opacity))
}
.hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.hover\:text-\[\#065999\]:hover {
    --tw-text-opacity: 1;
    color: rgb(6 89 153 / var(--tw-text-opacity))
}
.hover\:text-\[var\(--content-color\)\]:hover {
    color: var(--content-color)
}
.hover\:text-secondary:hover {
    --tw-text-opacity: 1;
    color: rgb(48 77 219 / var(--tw-text-opacity))
}
.hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
@media (min-width: 768px) {
    .md\:mb-0 {
        margin-bottom: 0px
    }
    .md\:mt-0 {
        margin-top: 0px
    }
    .md\:block {
        display: block
    }
    .md\:flex {
        display: flex
    }
    .md\:grid {
        display: grid
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:w-3\/12 {
        width: 25%
    }
    .md\:w-4\/12 {
        width: 33.333333%
    }
    .md\:w-5\/12 {
        width: 41.666667%
    }
    .md\:w-\[50\%\] {
        width: 50%
    }
    .md\:w-\[80\%\] {
        width: 80%
    }
    .md\:max-w-\[222px\] {
        max-width: 222px
    }
    .md\:max-w-\[300px\] {
        max-width: 300px
    }
    .md\:max-w-\[320px\] {
        max-width: 320px
    }
    .md\:grid-flow-row {
        grid-auto-flow: row
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
    .md\:items-center {
        align-items: center
    }
    .md\:gap-5 {
        gap: 1.25rem
    }
    .md\:gap-\[20px\] {
        gap: 20px
    }
    .md\:gap-x-5 {
        -moz-column-gap: 1.25rem;
             column-gap: 1.25rem
    }
    .md\:gap-y-5 {
        row-gap: 1.25rem
    }
    .md\:py-0 {
        padding-top: 0px;
        padding-bottom: 0px
    }
    .md\:text-left {
        text-align: left
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
    .md\:text-9xl {
        font-size: 8rem;
        line-height: 1
    }
    .md\:text-\[46px\] {
        font-size: 46px
    }
    .md\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    .md\:text-xl {
        font-size: 1.25rem
    }
}
@media (min-width: 1024px) {
    .lg\:relative {
        position: relative
    }
    .lg\:sticky {
        position: sticky
    }
    .lg\:top-8 {
        top: 2rem
    }
    .lg\:-mx-4 {
        margin-left: -1rem;
        margin-right: -1rem
    }
    .lg\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }
    .lg\:mx-6 {
        margin-left: 1.5rem;
        margin-right: 1.5rem
    }
    .lg\:my-0 {
        margin-top: 0px;
        margin-bottom: 0px
    }
    .lg\:ml-\[30px\] {
        margin-left: 30px
    }
    .lg\:mt-0 {
        margin-top: 0px
    }
    .lg\:inline-block {
        display: inline-block
    }
    .lg\:flex {
        display: flex
    }
    .lg\:hidden {
        display: none
    }
    .lg\:h-auto {
        height: auto
    }
    .lg\:w-\[67\%\] {
        width: 67%
    }
    .lg\:w-auto {
        width: auto
    }
    .lg\:max-w-\[200px\] {
        max-width: 200px
    }
    .lg\:max-w-\[530px\] {
        max-width: 530px
    }
    .lg\:max-w-\[550px\] {
        max-width: 550px
    }
    .lg\:translate-x-0 {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .lg\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr))
    }
    .lg\:items-center {
        align-items: center
    }
    .lg\:justify-between {
        justify-content: space-between
    }
    .lg\:gap-8 {
        gap: 2rem
    }
    .lg\:gap-\[406px\] {
        gap: 406px
    }
    .lg\:bg-transparent {
        background-color: transparent
    }
    .lg\:p-0 {
        padding: 0px
    }
    .lg\:px-0 {
        padding-left: 0px;
        padding-right: 0px
    }
    .lg\:text-\[40px\] {
        font-size: 40px
    }
    .lg\:leading-\[44px\] {
        line-height: 44px
    }
}
@media (min-width: 1280px) {
    .xl\:mr-16 {
        margin-right: 4rem
    }
    .xl\:max-w-\[280px\] {
        max-width: 280px
    }
    .xl\:max-w-\[590px\] {
        max-width: 590px
    }
    .xl\:max-w-\[620px\] {
        max-width: 620px
    }
    .xl\:gap-x-8 {
        -moz-column-gap: 2rem;
             column-gap: 2rem
    }
    .xl\:gap-y-16 {
        row-gap: 4rem
    }
    .xl\:px-0 {
        padding-left: 0px;
        padding-right: 0px
    }
    .xl\:pb-24 {
        padding-bottom: 6rem
    }
}
